.gradient-text {
    background-image: linear-gradient(to right, #FF8660, #9A33FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }